body{
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: blue;
}
h3 {
    color: lightgreen;
}
p {
    color: darkblue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h4 {
    padding-bottom: 0px;
  }